<!-- <p>
    {{headerVal}}
</p> -->
<header class="header-bar">
    <div class="header-logo">
        <h3>
            <span>Device </span>
            <span>Lab</span>
        </h3>
    </div>
    <div class="header-menu">
        <span class="header-whitespace"></span>
        <span class="header-column" routerLink="home">Home</span>
        <span class="header-column" routerLink="phones">Phone</span>
        <span class="header-column" routerLink="tablets">Tablets</span>
        <span class="header-column" routerLink="notebooks">Notebooks</span>
        <span class="header-column" routerLink="wearables">Wearables</span>
        <span class="header-column" routerLink="display">Display</span>
        <span class="header-whitespace"></span>
    </div>
</header>