<!-- <p>
    {{headerVal}}
</p> -->
<header class="header-bar">
    <div class="header-logo">
        <h3>
            <span>Device </span>
            <span>Lab</span>
        </h3>
    </div>
    <div class="header-menu">
        <span class="header-whitespace"></span>
        <span class="header-column">Home</span>
        <span class="header-column">Phone</span>
        <span class="header-column">Tablets</span>
        <span class="header-column">Notebooks</span>
        <span class="header-column">Wearables</span>
        <span class="header-column">Display</span>
        <span class="header-whitespace"></span>
    </div>
</header>